*{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.outer{
    width:700px;
    height:600px;
    font-size: 10px;
    margin: 0px auto;
}

.outer h1{
         text-align: center;

}
p{
    font-size: 20px;
}

.border{
    width: 100%;
    padding: 2px;
    background-color: rgb(162, 170, 170);
    border: 1px solid black;
    font-weight: bold;
}

.border{
    text-align: left;
   table-layout: auto;
   
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid black ;
    
}

h5{
    float:right;
}